<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p>Copyright &copy; 2022, Avurn Technology | Designed by Danish</p>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="#"><mat-icon aria-hidden="false" aria-label="Example facebook icon" fontIcon="facebook"></mat-icon></a></li>
                    <li><a href="#"><mat-icon aria-hidden="false" aria-label="Example instagram icon" fontIcon="facebook"></mat-icon></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>