<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li><a routerLink="">Portfolio</a></li>
                    <li>{{ title }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="secondary-container portfolio">
        <div class="container">
          <h2 class="heading"><span>OUR LATEST WORK</span>Our Portfolio <strong>Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h2>
          <div class="shorting-menu">
            <button data-filter="all" class="filter mixitup-control-active">All</button>
            <button data-filter=".design" class="filter">Design</button>
            <button data-filter=".seo" class="filter">SEO</button>
            <button data-filter=".branding" class="filter">Branding</button>
            <button data-filter=".print" class="filter">Print</button>
            <button data-filter=".video" class="filter">Video</button>
          </div>
            <div class="row portfoliomain" id="MixItUp01AEF4">
              <div class="col-lg-4 col-md-6 mix design">
                <div class="single-work">
                  <a href="assets/images/work-img1.jpg" class="popup-btn"></a>
                  <div class="work-image">
                    <img src="assets/images/work-img1.jpg" alt="work-image">
                    <div class="work-overlay">
                      <h3>Elegant Mockup</h3><span>UI/UX</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mix print seo">
                <div class="single-work">
                  <a href="assets/images/work-img2.jpg" class="popup-btn"></a>
                  <div class="work-image"><img src="assets/images/work-img2.jpg" alt="work-image">
                    <div class="work-overlay">
                      <h3>Internet Concept</h3><span>Psd</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mix video branding">
                <div class="single-work">
                  <a href="assets/images/work-img3.jpg" class="popup-btn"></a>
                  <div class="work-image"><img src="assets/images/work-img3.jpg" alt="work-image">
                    <div class="work-overlay">
                      <h3>Mupi Mockup</h3><span>Pencil</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mix design print">
                <div class="single-work">
                  <a href="assets/images/work-img4.jpg" class="popup-btn"></a>
                  <div class="work-image"><img src="assets/images/work-img4.jpg" alt="work-image">
                    <div class="work-overlay">
                      <h3>Premium Template</h3><span>Art</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mix branding video">
                <div class="single-work">
                  <a href="assets/images/work-img5.jpg" class="popup-btn"></a>
                  <div class="work-image"><img src="assets/images/work-img5.jpg" alt="work-image">
                    <div class="work-overlay">
                      <h3>Pencil Art</h3><span>Business</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mix seo design">
                <div class="single-work">
                  <a href="assets/images/work-img6.jpg" class="popup-btn"></a>
                  <div class="work-image"><img src="assets/images/work-img6.jpg" alt="work-image">
                    <div class="work-overlay">
                      <h3>Front View Psd</h3><span>Design</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
</div>