<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li><a routerLink="">Who We Are</a></li>
                    <li>{{ title }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="secondary-container who-we-are">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2 class="leftheading"><span>WHO WE ARE</span>We stand out of the Avurn<strong>Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong>
              </h2>
              <a routerLink="#" class="btn btn-primary">Our Work</a>
            </div>
            <div class="col-sm-6">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.</p>
              <ul>
                <li>We Are Professional</li>
                <li>We Are Creative</li>
                <li>We Are Passionate</li>
                <li>We Are Designer</li>
                <li>We Are Unique</li>
                <li>We Are Support</li>
              </ul>
            </div>
          </div>
        </div>
</div>