<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li>{{ title }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="secondary-container homeservice">
    <div class="container">
        <h2 class="heading"><span>WHAT WE DO</span>Our Services <strong>Lorem ipsum dolor sit amet, consectetur
                adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="homeservicelist">
                    <figure><img src="assets/images/services-img1.jpg" alt="services-img1"></figure>
                    <div class="homeservice-info">
                        <h3>Web Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="homeservicelist">
                    <figure><img src="assets/images/services-img2.jpg" alt="services-img2"></figure>
                    <div class="homeservice-info">
                        <h3>Branding Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="homeservicelist">
                    <figure><img src="assets/images/services-img3.jpg" alt="services-img3"></figure>
                    <div class="homeservice-info">
                        <h3>Digital Marketing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="homeservicelist">
                    <figure><img src="assets/images/services-img4.jpg" alt="services-img4"></figure>
                    <div class="homeservice-info">
                        <h3>App Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="homeservicelist">
                    <figure><img src="assets/images/services-img5.jpg" alt="services-img5"></figure>
                    <div class="homeservice-info">
                        <h3>Easy Customization</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="homeservicelist">
                    <figure><img src="assets/images/services-img6.jpg" alt="services-img6"></figure>
                    <div class="homeservice-info">
                        <h3>Fully Responsive</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>