<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li>{{ title }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="secondary-container homecontact">
        <div class="container">
          <h2 class="heading"><span>GET IN TOUCH</span>Let's Contact Us<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h2>
          <div class="row">
            <div class="col-sm-5">
              <div class="homecontact-dtls">
                <ul>
                  <li><fa-icon [icon]="faMapMarkedAlt"></fa-icon> <h3>Location: <span>Exercisplan 4, 111 49 Stockholm, Sweden</span></h3></li>
                  <li><fa-icon [icon]="faEnvelopeOpen"></fa-icon> <h3>Email: <a href="mailto:hello@avurn.com">hello@avurn.com</a></h3></li>
                  <li><fa-icon [icon]="faPhoneAlt"></fa-icon> <h3>Call: <a href="tel:(+124) 412-2445515">(+124) 412-2445515</a></h3></li>
                  <li><fa-icon [icon]="faMobileAlt"></fa-icon> <h3>Fax: <a href="tel:+617-241-60055">+617-241-60055</a></h3></li>
                  <li><fa-icon [icon]="faIcons"></fa-icon> <h3>Facebook: <span>facebook.com/avurn</span></h3></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="homecontact-dtls">
                <form>
                  <div class="row">
                    <div class="col-sm-6">
                       <input type="text" placeholder="Name">
                    </div>
                    <div class="col-sm-6">
                      <input type="text" placeholder="Name">
                    </div>
                    <div class="col-sm-12">
                      <input type="text" placeholder="Subject">
                    </div>
                    <div class="col-sm-12">
                      <input type="tel" placeholder="Phone Number">
                    </div>
                    <div class="col-sm-12">
                      <textarea placeholder="Message"></textarea>
                      <input type="submit" value="Send Message">
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>