<div class="mainbanner">
  <img src="https://avurn-ng.envytheme.com/main-banner1.jpg" id="bg">
  <div class="mainbanner-caption">
      <h1>Welcome To Avurn<span>Technologies</span></h1>
    </div>
</div>


<div class="features">
  <div class="container">
    <h2 class="heading"><span>OUR FEATURES</span>We Always Try To Understand Users Expectation <strong>Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</strong></h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="featurelist">
          <fa-icon [icon]="faChartPie"></fa-icon>
          <h3>Creative Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="featurelist">
          <fa-icon [icon]="faChartBar"></fa-icon>
          <h3>Market Strategy</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="featurelist">
          <fa-icon [icon]="faChartLine"></fa-icon>
          <h3>Business Growth</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="homeabout">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <figure><img src="assets/images/aboutus-img.png" alt="aboutus-img"></figure>
      </div>
      <div class="col-sm-7">
        <div class="homeabout-content">
          <h2 class="leftheading">Welcome To Angular 14 Project</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a routerLink="aboutus" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- BUILD WEBSITE SECTION -->

<div class="buildwebsite">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="leftheading">Start To Build Your Awesome Websites<strong>Create Lovely & Smart Websites Faster! Get
            Avurn Now!
          </strong></h2>
      </div>
      <div class="col-sm-4">
        <a routerLink="" class="btn btn-light">Build a Project</a>
      </div>
    </div>
  </div>
</div>



<div class="homeservice">
  <div class="container">
    <h2 class="heading"><span>WHAT WE DO</span>Our Services <strong>Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="homeservicelist">
          <figure><img src="assets/images/services-img1.jpg" alt="services-img1"></figure>
          <div class="homeservice-info">
            <h3>Web Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="homeservicelist">
          <figure><img src="assets/images/services-img2.jpg" alt="services-img2"></figure>
          <div class="homeservice-info">
            <h3>Branding Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="homeservicelist">
          <figure><img src="assets/images/services-img3.jpg" alt="services-img3"></figure>
          <div class="homeservice-info">
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="homeservicelist">
          <figure><img src="assets/images/services-img4.jpg" alt="services-img4"></figure>
          <div class="homeservice-info">
            <h3>App Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="homeservicelist">
          <figure><img src="assets/images/services-img5.jpg" alt="services-img5"></figure>
          <div class="homeservice-info">
            <h3>Easy Customization</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="homeservicelist">
          <figure><img src="assets/images/services-img6.jpg" alt="services-img6"></figure>
          <div class="homeservice-info">
            <h3>Fully Responsive</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus velit nec.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- WHO WE ARE SECTION -->

<div class="who-we-are">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="leftheading"><span>WHO WE ARE</span>We stand out of the Avurn<strong>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong>
        </h2>
        <a routerLink="#" class="btn btn-primary">Our Work</a>
      </div>
      <div class="col-sm-6">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.</p>
        <ul>
          <li>We Are Professional</li>
          <li>We Are Creative</li>
          <li>We Are Passionate</li>
          <li>We Are Designer</li>
          <li>We Are Unique</li>
          <li>We Are Support</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- PORTFOLIO SECTION -->


<div class="portfolio">
  <div class="container">
    <h2 class="heading"><span>OUR LATEST WORK</span>Our Portfolio <strong>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h2>
    <div class="shorting-menu">
      <button data-filter="all" class="filter mixitup-control-active">All</button>
      <button data-filter=".design" class="filter">Design</button>
      <button data-filter=".seo" class="filter">SEO</button>
      <button data-filter=".branding" class="filter">Branding</button>
      <button data-filter=".print" class="filter">Print</button>
      <button data-filter=".video" class="filter">Video</button>
    </div>
      <div class="row portfoliomain" id="MixItUp01AEF4">
        <div class="col-lg-4 col-md-6 mix design">
          <div class="single-work">
            <a href="assets/images/work-img1.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/images/work-img1.jpg" alt="work-image">
              <div class="work-overlay">
                <h3>Elegant Mockup</h3><span>UI/UX</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix print seo">
          <div class="single-work">
            <a href="assets/images/work-img2.jpg" class="popup-btn"></a>
            <div class="work-image"><img src="assets/images/work-img2.jpg" alt="work-image">
              <div class="work-overlay">
                <h3>Internet Concept</h3><span>Psd</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix video branding">
          <div class="single-work">
            <a href="assets/images/work-img3.jpg" class="popup-btn"></a>
            <div class="work-image"><img src="assets/images/work-img3.jpg" alt="work-image">
              <div class="work-overlay">
                <h3>Mupi Mockup</h3><span>Pencil</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix design print">
          <div class="single-work">
            <a href="assets/images/work-img4.jpg" class="popup-btn"></a>
            <div class="work-image"><img src="assets/images/work-img4.jpg" alt="work-image">
              <div class="work-overlay">
                <h3>Premium Template</h3><span>Art</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix branding video">
          <div class="single-work">
            <a href="assets/images/work-img5.jpg" class="popup-btn"></a>
            <div class="work-image"><img src="assets/images/work-img5.jpg" alt="work-image">
              <div class="work-overlay">
                <h3>Pencil Art</h3><span>Business</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix seo design">
          <div class="single-work">
            <a href="assets/images/work-img6.jpg" class="popup-btn"></a>
            <div class="work-image"><img src="assets/images/work-img6.jpg" alt="work-image">
              <div class="work-overlay">
                <h3>Front View Psd</h3><span>Design</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>



<!-- HOMECONTACT SECTION -->

<div class="homecontact">
  <div class="container">
    <h2 class="heading"><span>GET IN TOUCH</span>Let's Contact Us<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h2>
    <div class="row">
      <div class="col-sm-5">
        <div class="homecontact-dtls">
          <ul>
            <li><fa-icon [icon]="faMapMarkedAlt"></fa-icon> <h3>Location: <span>Exercisplan 4, 111 49 Stockholm, Sweden</span></h3></li>
            <li><fa-icon [icon]="faEnvelopeOpen"></fa-icon> <h3>Email: <a href="mailto:hello@avurn.com">hello@avurn.com</a></h3></li>
            <li><fa-icon [icon]="faPhoneAlt"></fa-icon> <h3>Call: <a href="tel:(+124) 412-2445515">(+124) 412-2445515</a></h3></li>
            <li><fa-icon [icon]="faMobileAlt"></fa-icon> <h3>Fax: <a href="tel:+617-241-60055">+617-241-60055</a></h3></li>
            <li><fa-icon [icon]="faIcons"></fa-icon> <h3>Facebook: <span>facebook.com/avurn</span></h3></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="homecontact-dtls">
          <form>
            <div class="row">
              <div class="col-sm-6">
                 <input type="text" placeholder="Name">
              </div>
              <div class="col-sm-6">
                <input type="text" placeholder="Name">
              </div>
              <div class="col-sm-12">
                <input type="text" placeholder="Subject">
              </div>
              <div class="col-sm-12">
                <input type="tel" placeholder="Phone Number">
              </div>
              <div class="col-sm-12">
                <textarea placeholder="Message"></textarea>
                <input type="submit" value="Send Message">
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
